<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="primate" class="org.webdev.spring.Primate">
		<property name="gorilla" ref="gorilla" />
		<property name="gibbons" ref="gibbons" />
	 </bean>
	 
	 <bean id="gorilla" class="org.webdev.spring.MammalAtrr"> 
	 	<property name="size" value="396" />
	 </bean>
	 
	  <bean id="gibbons" class="org.webdev.spring.MammalAtrr"> 
	 	<property name="size" value="15" />
	 </bean>
	 
	 <bean id="carnivore" class="org.webdev.spring.Carnivore">
		<property name="dog" ref="dog" />
		<property name="cat" ref="cat" />
	 </bean>
	
	 <bean id="dog" class="org.webdev.spring.MammalAtrr"> 
	 	<property name="size" value="22" />
	 </bean>
	 
	 <bean id="cat" class="org.webdev.spring.MammalAtrr"> 
	 	<property name="size" value="11" />
	 </bean>

</beans>


