<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="mammals" class="org.webdev.spring.Mammals">
		<property name="primates">
			<list>
				<ref bean="ape1"/>
			</list>
		</property>
	</bean>
		
	<bean id="mammal2" class="org.webdev.spring.Mammals" parent="mammals">
		<property name="primates">
			<list merge="true">
				<ref bean="ape2"/>
			</list>
		</property>
	</bean>
		
		<bean id="mammal3" class="org.webdev.spring.Mammals" parent="mammals">
		<property name="primates">
			<list merge="true">
				<ref bean="ape2"/>
				<ref bean="ape3"/>
				<ref bean="ape4"/>
			</list>
		</property>
	</bean>
	
		<bean id="mammal4" class="org.webdev.spring.Mammals" parent="mammals">
		<property name="primates">
			<list merge="true">
				<ref bean="ape4"/>
			</list>
		</property>
	</bean>

	<bean id="ape1" class="org.webdev.spring.Primate">
		<property name="apes" value="Gorilla" />
		</bean>

	<bean id="ape2" class="org.webdev.spring.Primate">
		<property name="apes" value="Gibbons" />
		</bean>


	<bean id="ape3" class="org.webdev.spring.Primate">
		<property name="apes" value="Siamangs" />
		</bean>

	<bean id="ape4" class="org.webdev.spring.Primate">
		<property name="apes" value="Bonobos" />
		</bean>
		
	<bean class="org.webdev.spring.DisplayBeanNamePostprocessor" />

</beans>


